
/*test start*/

.westStyle{
	border-radius:0!important;
}
.northStyle,.southStyle,.westStyle,.eastStyle,.centerStyle{
	background:#EEEEEE; 
	margin:5px 0 5px 5px;
	border:1px solid #CCCCCC;
}
.middle-west,.middle-center{
	background: #FFF; 
	padding: 0px; 
	overflow: auto;	
}

.innerWrap .inLayout-west {
	background: #f4f4f4;
	border: #d0d0d0 1px solid!important;
	padding:0!important;
	border-radius: 5px;
}

.innerWrap .inLayout-center {
	overflow: auto;
	border: #d0d0d0 1px solid!important;
	padding:0!important;
}

.ui-layout-toggler-west { 
	background: url(../images/toggler_on.gif) no-repeat right center; 
}
.ui-layout-toggler-west-closed {  
	background: url(../images/toggler_off.gif) no-repeat right center; 
}
.ui-layout-toggler-east { 
	background: url(../images/toggler_off.gif) no-repeat right center; 
}
.ui-layout-toggler-east-closed {  
	background: url(../images/toggler_on.gif) no-repeat right center; 
}
.ui-layout-toggler-north{ 
	background: url(../images/toggler_up_on.gif) no-repeat right center; 
}
.ui-layout-toggler-north-closed{  
	background: url(../images/toggler_down_off.gif) no-repeat right center; 
}
.ui-layout-toggler-south { 
	background: url(../images/toggler_down_off.gif) no-repeat right center; 
}
.ui-layout-toggler-south-closed {  
	background: url(../images/toggler_up_on.gif) no-repeat right center; 
}
/*
.ui-layout-toggler-closed {  
	background: url('../images/toggler.png') no-repeat -16px 0px transparent; 
} 
*/
/*test end*/


.toggleCollapse{
	display:block;
	height:30px;
	line-height:30px;
	font-size:14px;
	border-bottom:1px solid #BEBEBE;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
	padding-left: 10px;
}
.toggleCollapse h2{
    float: left;
    line-height: 30px;
    font-size:14px;
    font-weight: bold;
}
.toggleCollapse div{
	background: url("http://j-ui.com/themes/default/images/layout/toggleSidebar.png") repeat scroll 0 0 transparent;
    background-position: 100% -45px;
    cursor: pointer;
    display: block;
    float: right;
    height: 28px;
    overflow: hidden;
    text-indent: -100px;
    width: 25px;
}